
*{
  margin: 0;
  padding: 0;
  --header-border-color: rgb(200, 200, 200);
  --title-color: gainsboro;
  --keyboard-background-color: rgb(129, 131, 132);
  --keyboard-letter-color: rgb(215, 218, 220);
  --deepLightPurple: rgb(100, 11, 129);
  --modalHeaderColor: hsl(290, 50%, 50%); 
  --modalHeaderBackground: rgb(129, 99, 16);
  font-family: 'Times New Roman', Times, serif;
  
}


html {
  scrollbar-width: none;
  padding: 0;
}

body {
  background: url(../imgs/canvas.jpg);
  scrollbar-width: none; 
  overflow-y: scroll; 
}

.main{
  max-width: 1000px;
}

.container > header h1,
.container > header h2 {
	color: #222;
}

.cs-text {
	text-align: center;
	margin-top: 20px;
}

.cs-text span[class^="word"] {
	display: inline-block;
	margin: 0 15px;
}


#test:hover{
  cursor: pointer;
}

.cs-text span[class^="char"] {
	width: 8.6vw;
	height: 5vh;
	display: inline-block;
	background: #e4d095;
  color: #2a1f1b;
	border-radius: 4px;
	font-size: 5.5vw;
	font-weight: 700;
/*	line-height: 100px;*/
  margin: 1px 3px;
  padding-top: 5px;
	text-align: center;
	cursor: default;
/*	font-family: "Spinnaker", Arial, sans-serif;*/
	font-family: 'Times New Roman', Times, serif;
	text-shadow: 
		1px 1px 1px rgba(255, 255, 255, 0.9), 
		0 -1px 1px rgba(255,255,255,0.2);
	text-transform: uppercase;
	box-shadow: 
		1px 7px 15px rgba(0,0,0,0.8),
		inset 3px 0 2px rgba(255,255,255,0.4),
		inset 0 3px 0px rgba(255,255,255,0.5),
		inset -2px -3px 0px rgba(143,128,82,0.6);
}

.cs-text span[class^="char"]:nth-child(odd) {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
}

.cs-text span[class^="char"]:nth-child(3n) {
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.cs-text > span:nth-child(5) span,
h3.cs-text span[class^="char"]  {
	color: #a62a19;
}

h3.cs-text span[class^="char"] {
	font-size: 40px;
	width: 50px;
	height: 60px;
	line-height: 60px;
}


#alphabet{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 10px;
  background-color: rgba(108, 16, 124, 0.05);
 }

.letters{
  margin: 1px;
}


.alpha {
	display: inline-block;
	margin: 0 1px;
}


.alpha {
	text-align: center;
  margin-top: 20px;
  color: red;  
}

.alpha span[class^="word"] {
	display: inline-block;
	margin: 0 0px;
}







.alpha span[class^="char"] {
	width: 6.8vw;
	height: 3.8vh;
	display: inline-block;
	background: #e4d095;
	border-radius: 4px;
	font-size: 4.4vw;
	font-weight: 700;
	margin: 1px 1px;
	text-align: center;
	cursor: default;
  font-family: "Spinnaker", Arial, sans-serif;
	text-shadow: 
		1px 1px 1px rgba(255, 255, 255, 0.9), 
		0 -1px 1px rgba(255,255,255,0.2);
	text-transform: uppercase;
	box-shadow: 
		1px 7px 15px rgba(0,0,0,0.8),
		inset 3px 0 2px rgba(255,255,255,0.4),
		inset 0 3px 0px rgba(255,255,255,0.5),
		inset -2px -3px 0px rgba(143,128,82,0.6);
}

.alpha2, .alpha3{
  margin-top: 3px;
}

.scaffold {
  width: 100%;
  height: 29vh;
  border: gold 1px solid;
/*  background: url(../images/hang.png);*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.already-clicked{
  color: gray;
}






/* MODAL POPUP CSS  */


.modal-content {
  position: relative;
  background-color: rgb(238, 238, 238);
  margin: auto;
  padding: 0;
  width: 95%;
  max-width: 450px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  /* animation-name: animatetop;*/
  animation-name: fade-in;
  animation-duration: 2.5s;
  border-radius: 0.3rem;
  text-align: left;

}
.modal-header {
  position: relative;
  padding: 2px 12px;
  background-color: var(--deepLightPurple);
  background: rgb(251,193,29);
/*  background: radial-gradient(circle, rgba(251,193,29,1) 0%, rgba(251,193,29,1) 25%, rgba(220,20,60,1) 100%); */
  background: radial-gradient(circle, var(--modalHeaderBackground), rgba(251,193,29,1) 25%, var(--modalHeaderBackground) 100%); 
  color: rgb(201, 170, 113);
  color: black;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  text-align: center;
}
.modal-header h2{
  font-size: 1.5rem;
  margin-top: 14px;
  margin-bottom: 14px;
  position: relative;
}
.modal-body {
  padding: 2px 12px;
  color: black;
/*  display: flex; */
  justify-content: center;
  font-size: 16px;
}
.portrait-modal-body {
  height: 70vh;
  padding: 2px 12px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  border: 2px solid green;
}

.modal-footer {
  padding: 1rem;
  background-color: #ffffff;
  color: #333;
  border-top: 1px solid #e9ecef;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  text-align: right;
}







#answer-modal {
  display: none;
  position: fixed;
  z-index: 20;
  padding-top: 25px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  font-family: 'Times New Roman', Times, serif;

}

@keyframes fade-in{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out{
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}


.close {
  position: absolute;
  right: 10px;
  top: 0px;
  color: #eee;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  z-index: 3;
}


.fade-out {
  animation-name: fade-out;
  animation-duration: 2.5s;
  display: none;
}



#view-answer{

  text-align: center;
}





@media (min-width: 750px){
  .alpha:hover {
    
  }

  .alpha span[class^="char"] {
    width: 3.8vw;
    height: 3.8vh;
    border-radius: 4px;
    font-size: 1.9vw;

  }


  .alpha span[class^="char"]:hover {
    cursor: pointer;
  }

  .cs-text span[class^="char"] {
    width: 3.6vw;
    height: 5.5vh;
    border-radius: 4px;
    font-size: 2.0vw;

  }



}